.popup__container {
  background-color: #fff;
  width: 430px;
  display: flex;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 685px) {
  .popup__container {
    width: 282px;
  }
}
