.popup__container {
  background-color: #fff;
  width: 430px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 330px;
  border-radius: 10px;
}

@media screen and (max-width: 685px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}
