.header__logo {
  align-self: flex-start;
  max-width: 142px;
  max-height: 33px;
}

.header__logo:hover {
  opacity: 0.7;
}

@media screen and (max-width: 685px) {
  .header__logo {
    max-width: 103px;
    max-height: 24px;
    margin: 0 0 0 27px;
  }
}
