.header {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  margin: 44px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 715px) {
  .header {
    max-width: 100%;
    margin: 28px auto 34px;
  }
}
