.popup__name {
  width: 358px;
  height: 27px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  margin-bottom: 27px;
  margin-left: 2px;
}

.popup__name:focus {
  border-bottom: 1px #000 solid;
  outline: none;
}

@media screen and (max-width: 715px) {
  .popup__name {
    width: 238px;
  }
}
