.profile__title {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 330px;
  text-align: center;
}

@media screen and (max-width: 715px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    max-width: 225px; 
  }
}
