.popup__close-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 32px;
  top: -41px;
  right: -41px;
  position: absolute;
}
@media screen and (max-width: 685px) {
  .popup__close-button {
    top: -37px;
    left: 258px;
  }
}
