.popup__close_button {      /* Это была вообще непонятной штукой (╯°□°)╯*/
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 32px;
  top: -40px;
  right: -45px;
  position: absolute;
}
@media screen and (max-width: 685px) {
  .popup__close_button {
    top: -39px;
    left: 218px;
  }
}
