.elements__heart {
  margin-left: auto;
  cursor: pointer;
}

.elements__heart:active {
  background-image: url("../../../images/heart_active.svg");
  background-repeat: no-repeat;
  background-position: center 5px;
}
