.elements__list {
  display: grid;
  column-gap: 17px;
  max-width: 880px;
  margin: 50px auto 20px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-items: center;
  padding-left: 0;
}

@media screen and (max-width: 715px) {
  .elements__list {
    grid-template-columns: 1fr;
    margin: 36px auto 0;
    max-width: 282px;
  }
}
