.profile__editor-button {
  background-image: url("../../../images/pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  border: 1px white solid;
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
@media screen and (max-width: 685px) {
  .profile__editor-button {
    max-width: 18px;
    max-height: 18px;
    margin-left: 10px;
  }
}
